@mixin gradient($h, $w){
	background: $box-gradient;
	height: $h;
	width: $w;
}

@mixin font($size: 1em, $color: $off-white){
	font-size: $size;
	color: $color;
}

@mixin center-text{
	display: block;
	margin-left: auto;
	margin-right: auto;
}