@mixin gradient($h, $w){
	background: $box-gradient;
	height: $h;
	width: $w;
}

@mixin h-1($size: 2em, $weight: bold, $color: $light-gold){
	font-size: $size;
	font-weight: $weight;
	color: $color;
}