@font-face {
	font-family: 'italianno';
	src: url('fonts/Italianno-Regular-OTF.eot');
	src: local('☺'), url('fonts/Italianno-Regular-OTF.woff') format('woff'), url('fonts/Italianno-Regular-OTF.ttf') format('truetype'), url('fonts/Italianno-Regular-OTF.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

