///////////////////////////////////////////////////////
/////// MEDIA QUERIES FOR TABLET SIZED DEVICES ////////
///////////////////////////////////////////////////////



// Table of Contents
 //
 // 1.0 Normalize and imports
 // 2.0 Base Styles
 // 3.0 Modules
 //   3.1 Navigation  3.2 Forms  3.3 Buttons  3.4 Lists  3.5 Boxes  3.6 Slider  3.7 Image Grid  3.8 Call to Action
 //
 // 4.0 Layout
 //   4.1 Header
 //   4.2 Footer
 //   4.3 Sidebar
 //   4.4 Post
 //   4.5 The Grid
 //   4.6 Home
 //   4.7 FAQ
 //   4.8 Programs
 //   4.9 Take Action pages
 //   4.10 CFR page
 //   4.11 Ambassadors page
 //
 // 5.0 Helpers
 //   5.1 Margin
 //   5.2 Padding
 //
 // 6.0 Plugins
 //   6.1 Gravity Forms
 //   6.2 Content Views


@media screen and (max-width: 750px){

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 1.0 Normalize and Imports /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.0 Base Styles ///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.1 Body
//////////////////////////////////////////////////////////////////////////////////////////////////////

.standard-content{
  width:90vw;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.2 Typography
//////////////////////////////////////////////////////////////////////////////////////////////////////

.small-text{
  font-size: 3.5vw;
  line-height: 3.5vw;
}

.column-heading{
  font-size: 3.5vw;
}

.take-action-desc, .get-involved-desc{
  text-align: justify;
  padding:7px 10px 0 10px;
}

.grid-1-3 h4{
  font-size: 16pt;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.3 Links
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.5 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.6 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.0 Modules ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.1 Navigation
//////////////////////////////////////////////////////////////////////////////////////////////////////

//top nav bar
.horizontal-li--gold-border{
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.2 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.3 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

.double-circle{


  &--left{
    width: 35%;
    clear: both;
    margin-left: 13%;
    padding: 10px;
    height: 30vw; //keeps circle from skewing as browser width changes -MJ
  }

  &--right{
    width: 35%;
    float: left;
    clear: right;
    padding: 10px;
    margin-left:7%;
    height: 30vw; //keeps circle from skewing as browser width changes -MJ
  }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.5 Boxes
//////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width:650px){
	.box-menu{
  display: block;
  width: 95%;
  margin: 20px auto;
  clear: both;

  &-item{
    display: flex;
    float: left;
    clear: none;
    width: 100%;
    margin:0 0 20px 0;
    padding: 3px;
    border: 3px solid $black;

    &:nth-child(even){
      margin-left: 0;
    }

    &-centered{
      display: flex;
      float: left;
      clear: none;
      width: 100%;
      margin:0 0 20px 0;
      padding: 3px;
      border: 3px solid $black;
    }
  }

  &-split-text{

    h1{
      font-size: 6vw;
      margin: 5px 0 0 0;
    
      &.small{
        font-size: 3.5vw;
      }

      &.medium{
        font-size: 4.4vw;
      }
    }

    p{
      font-size: 3vw;
      display: block;
      width: 97%;
      margin: 3px auto 0 auto;
      line-height: 1.15em;
    }
  }
}
}

//Column layout for boxes (Take Action)
.column-img, .column-box{
  flex-basis: 30%;
  float: none;
  margin-bottom: 25px;
}

//.four-12,.seven-12,.ten-12{
//  margin-left: 0;
//}

.column-box{
  padding: 3px;
}


.cfr-event{

  flex-basis: 45%;
  margin: 12px 1.5%;


  &-location{
    font-size: .6rem;
  }

  &-sub-location{
    font-size: .5rem;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.6 Slider
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.7 Image Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////


.square-img{
  width: 100%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.8 Call to Action
//////////////////////////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width:650px){
  .cta-grid{
      width: 25%; 
      margin-left: 6.25%; 
  }

  .cta-link{
    font-size: 3.5vw;
  }
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.0 Layout ////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.1 Header
//////////////////////////////////////////////////////////////////////////////////////////////////////


#seal{
  width: 20%;
  min-width: 120px;
}

#logo{
	width:40%;
	top:35px;
	min-width: 250px;

}

#donate{
  right: 50px;
}

@media screen and (max-width:550px){
	#donate{
		display: none;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.2 Footer
//////////////////////////////////////////////////////////////////////////////////////////////////////

.footer-right{
  float: left;
  margin-top: 25px;
  margin-bottom: 20px;
  clear: both;
}

#ecfa{
  float: left;
}

#ecfa-icon{
  width:15%;
}

#ecfa-text{
  width: 75%;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.3 Sidebar
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.4 Post
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.5 The Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////

/*.grid-1-3{
  width: 30%; 
  margin-left: 3%; 
  float: left; 
  clear:none;

  h2{
    font-size: 3.5vw;
  }

}
.grid-1-3:first-child{margin-left:3%;}
*/
@media screen and (max-width:600px){
  .grid-1-3{
  width: 100%; 
  margin-left: 0; 
  float:left; 
  clear:both;

    h2{
      font-size: 10vw;
    }

  }

  .grid-1-3:first-child{margin-left:0;}

}

.programs-container{width:95%; max-width:100%;}



@media screen and (max-width:550px){
  .ta-header{
    h1{

    }

    img{
      display: none;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.6 Home
//////////////////////////////////////////////////////////////////////////////////////////////////////

.about-home{
	p{
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2rem;
		line-height: 1.5em;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.7 FAQ
//////////////////////////////////////////////////////////////////////////////////////////////////////

.faq-top-box{
  padding: 0 5% 2% 5%;

  p{
    display: none;
  }
  hr{
    display: none;
  }
  #circle1, #circle2, #circle3, #circle4, #circle5{
    left: 27%;
    top: -60px;
  }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.8 Programs
//////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.11 Ambassadors page
//////////////////////////////////////////////////////////////////////////////////////////////////////
.lightbox{
  width: 85%;
}

.square-img-hover{
  padding: 7px;
  top: -28vw;
  height: 28vw;


}

#bennett-img, #dooley-img, #luedeman-img, #amo-img, #birt-img{
  height: 28vw;
  width: 28vw;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 5.0 Helpers ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 6.0 Plugins ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 6.1 Gravity Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 6.2 Content Views
//////////////////////////////////////////////////////////////////////////////////////////////////////

.pt-cv-wrapper .btn{
  font-size: 2.5vw;
}


} 

//END 750px MEDIA QUERY
