///////////////////////////////////////////////////////
/////// MEDIA QUERIES FOR TABLET SIZED DEVICES ////////
///////////////////////////////////////////////////////



// Table of Contents
 //
 // 1.0 Normalize and imports
 // 2.0 Base Styles - basic styling (ie: removing borders, unstyling links, removing bullet point, etc.)
 // 3.0 Modules
 //   3.1 Navigation  3.2 Forms  3.3 Buttons  3.4 Lists  3.5 Boxes  3.6 Slider  3.7 Image Grid  3.8 Light Box
 //
 // 4.0 Layout
 //   4.1 Header
 //   4.2 Footer
 //   4.3 Sidebar
 //   4.4 Post
 //   4.5 The Grid
 //
 // 5.0 Helpers
 //   5.1 Margin
 //   5.2 Padding
 //
 // 6.0 Plugins
 //   6.1 Gravity Forms
 //   6.2 Content Views


@media screen and (max-width: 750px){

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 1.0 Normalize and Imports /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.0 Base Styles ///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.1 Body
//////////////////////////////////////////////////////////////////////////////////////////////////////

.standard-content{
  width:90vw;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.2 Typography
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.3 Links
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.5 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.6 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.0 Modules ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.1 Navigation
//////////////////////////////////////////////////////////////////////////////////////////////////////

//top nav bar
.horizontal-li--gold-border{
  display: none;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.2 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.3 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

.double-circle{


  &--left{
    width: 45%;
    clear: both;
    margin-left: 6%;
    padding: 10px;
    height: 38vw; //keeps circle from skewing as browser width changes -MJ
  }

  &--right{
    width: 45%;
    float: left;
    clear: right;
    padding: 10px;
    height: 38vw; //keeps circle from skewing as browser width changes -MJ
  }

}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.5 Boxes
//////////////////////////////////////////////////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.6 Slider
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.7 Image Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.8 Light Box
//////////////////////////////////////////////////////////////////////////////////////////////////////



/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.0 Layout ////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.1 Header
//////////////////////////////////////////////////////////////////////////////////////////////////////


#seal{
  width: 20%;
  min-width: 120px;
}

#logo{
	width:40%;
	top:35px;
	min-width: 250px;

}

#donate{
  right: 50px;
}

@media screen and (max-width:550px){
	#donate{
		display: none;
	}
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.2 Footer
//////////////////////////////////////////////////////////////////////////////////////////////////////

.footer-right{
  float: left;
  margin-top: 25px;
  margin-bottom: 20px;
  clear: both;
}

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.3 Sidebar
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.4 Post
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.5 The Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.6 Home
//////////////////////////////////////////////////////////////////////////////////////////////////////

.about-home{
	p{
		float: none;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.2rem;
		line-height: 1.5em;
	}
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 5.0 Helpers ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

} 

//END 750px MEDIA QUERY
