///////////////////////////////////////////////////////
/////// MEDIA QUERIES FOR TABLET SIZED DEVICES ////////
///////////////////////////////////////////////////////



// Table of Contents
 //
 // 1.0 Normalize and imports
 // 2.0 Base Styles - basic styling (ie: removing borders, unstyling links, removing bullet point, etc.)
 // 3.0 Modules
 //   3.1 Navigation  3.2 Forms  3.3 Buttons  3.4 Lists  3.5 Boxes  3.6 Slider  3.7 Image Grid  3.8 Light Box
 //
 // 4.0 Layout
 //   4.1 Header
 //   4.2 Footer
 //   4.3 Sidebar
 //   4.4 Post
 //   4.5 The Grid
 //
 // 5.0 Helpers
 //   5.1 Margin
 //   5.2 Padding
 //
 // 6.0 Plugins
 //   6.1 Gravity Forms
 //   6.2 Content Views


@media screen and (max-width: 975px){

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 1.0 Normalize and Imports /////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.0 Base Styles ///////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.1 Body
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.2 Typography
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.3 Links
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.5 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 2.6 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.0 Modules ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.1 Navigation
//////////////////////////////////////////////////////////////////////////////////////////////////////

#mobile-menu{
	display:block;
}

#desktop-menu{
	display:none;
}

//Main nav black bar
.full-width-nav--mobile{
  background-color: #000;
  color: $off-white;
  margin: 0 auto 0 auto;
  padding: 5px 0 5px 0;
  text-align: center;
  font-weight: 500;
}

.mobile-nav-li{
	padding: 20px;
	width:100%;

	&:hover{
		background-color:$off-white;
		color: $black;
	}
}



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.2 Forms
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.3 Buttons
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.4 Lists
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.5 Boxes
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.6 Slider
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.7 Image Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////
// 3.8 Light Box
//////////////////////////////////////////////////////////////////////////////////////////////////////



/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.0 Layout ////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/


//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.1 Header
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.2 Footer
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.3 Sidebar
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.4 Post
//////////////////////////////////////////////////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////////////////////////////////////////////////
// 4.5 The Grid
//////////////////////////////////////////////////////////////////////////////////////////////////////



/*////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
// 5.0 Helpers ///////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////*/

} 

//END 975px MEDIA QUERY
