//Color
$dark-gold: #C19563;
$light-gold: #E1BD89; //rgb(225,189,137)
$off-white: #F5EDE0; //rgba(245,237,224,1)
$black: #222;
$gray: #444;
$red: #BA271D; //rgb(186,39,29)

//Typography
$garamond: 'Garamond', garamond, serif;
$georgia: 'Georgia', georgia, serif;

//Backgrounds
$box-gradient: url('/assets/images/box-gradient.svg');