//Color
$dark-gold: #C19563;
$light-gold: #E1BD89;
$off-white: #F5EDE0;
$black: #222;
$red: #BA271D;

//Typography
$garamond: 'Garamond', garamond, serif;

//Backgrounds
$box-gradient: url('/assets/images/box-gradient.svg');